.cardBoard{	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2rem;
	grid-gap: 1rem;
	height: 100%;
	width: 360px;
}

@media screen and (min-width: 768px){
	.cardBoard{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: 768px;
		padding: 5rem;
	}
}

@media screen and (min-width: 1440px){
  .cardBoard{
    width:950px;
  }
}