.cardBoard{	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

@media screen and (min-width: 768px){
	.cardBoard{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: 768px;
		padding: 5rem;
		grid-gap: 20px;
	}
}

@media screen and (min-width: 1024px){
	.cardBoard{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: auto;
		/* padding: 5rem; */
		grid-gap: 20px;
	}
}

@media screen and (min-width: 1440px){
  .cardBoard{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: auto;
		padding: 5rem;
		grid-gap: 20px;
  }
}