/* .card {
  width: 200px;
  height: 250px;
  background-color: gray;
  border-radius: 5px;
  margin: 10px;
  color: white;
  text-align: center;
} */

.card{
  flex: 1 0 21%;
  margin: 10px;
  height: 250px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-size: 3rem;
}
.cardID{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}