*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-wrapper{
    display: flex;
	background-color: cornflowerblue;
    font-family: GROBOLD;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;    
}

.login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 240px;
    width: 100%;
}

.login-modal p {
    font-size: 1.8rem;
    color: white;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.login-modal input{
    background: white;
    border: none;
    width: 80%;
    padding: 12px 0px;
    border-radius: 5px;
}

.login-modal button{
    background: none;
    border: none;
    /* padding: 8px 15px; */
    color: white;
    font-family: grobold;
	border-radius: 12px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    font-size: 2rem;
}

input, select, textarea{
    text-align: center;
    font-family: GROBOLD;
    letter-spacing: 1px;
    font-size: 1.5rem
}

.login-guest{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
	color: rgb(255, 255, 255);
    letter-spacing: 4px; 
    font-weight: 300;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}