.container{
	display: flex;
	justify-content: space-between;
	background-color: cornflowerblue;
	padding: 25px;
  border-radius: 12px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 0px 0px 8px rgb(136, 136, 136);
	margin-bottom: 10px;
	width:830px;
	font-family: GROBOLD, sans-serif;
}

.player{
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
.stats{
	display: flex;
	color: white;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.points{
	font-size: 1.5rem;
}

.time{
	box-sizing: border-box;
	font-size: 2rem;
}