.card {
  height: 115px;
  width: 85px;
  align-self: center;
  justify-self: center;
  border-radius: 12px;
  box-shadow: 0px 0px 4px rgb(136, 136, 136);
  background-color: rgba(233, 233, 233, 0.596);
  border: 1px solid rgb(184, 184, 184);
}

@media screen and (max-width: 650px) and (min-height: 400px){
  .card{
    height: 120px;
    width: 90px;
  }
}

@media screen and (min-width: 768px) and (min-height: 657px){
	.card{
	height: 150px;
  width: 100px;
	}
}

@media screen and (min-width: 1024px) and (min-height: 657px){
	.card{
		height: 150px;
    width: 100px;
    
    /* height: 280px;
    width: 180px; */
	}
}

@media screen and (min-width: 1440px){
  .card{
    height: 320px;
    width: 220px;
  }
}