.card {
  height: 250px;
  width: 150px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgb(136, 136, 136);
  background-color: rgba(192, 192, 192, 0.596);
  border: 1px solid rgb(184, 184, 184);
}