.end-container {
  display: flex;
  font-family: grobold;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  /* background: red; */
  height: 100vh;
}

.end-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.end-modal h1 {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.stats {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
.stats span {
  margin: 5px 0px;
}
.btn {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.btn button {
  background: none;
  border: none;
  color: white;
  font-family: grobold;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .end-modal h1 {
    font-size: 4rem;
  }
  .stats {
    font-size: 2.2rem;
  }

  .btn button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .end-modal {
    width: 45%;
  }

  .end-modal h1 {
    font-size: 4rem;
  }
  .stats {
    font-size: 2.2rem;
  }

  .btn button {
    font-size: 2rem;
  }
}
