*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
	background-color: cornflowerblue;
    font-family: GROBOLD;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;    
}

.title {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title h1{
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    letter-spacing: 2px;
}
.title h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(224, 224, 224);
    font-size: 0.6rem;
    margin-top: 10px;
    letter-spacing: 3px;

}

.login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 240px;
    width: 100%;
}

.login-modal p {
    font-size: 1.8rem;
    color: white;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.login-modal input{
    background: white;
    border: none;
    width: 80%;
    padding: 12px 0px;
    border-radius: 5px;
}

.login-modal button{
    background: none;
    border: none;
    /* padding: 8px 15px; */
    color: white;
    font-family: grobold;
	border-radius: 12px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    font-size: 2rem;
}

input, select, textarea{
    text-align: center;
    font-family: GROBOLD;
    letter-spacing: 1px;
    font-size: 1.5rem
}

.login-guest{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
	color: rgb(255, 255, 255);
    letter-spacing: 4px; 
    font-weight: 300;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.error{
    background-color: rgb(231, 38, 38);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 1024px){
	.login-modal input{
        background: white;
        border: none;
        width: 50%;
        padding: 12px 0px;
        border-radius: 5px;
    }
    .login-modal p {
        font-size: 2.3rem;
    }
    .login-guest{
        font-size: 1.4rem;
        letter-spacing: 6px; 
    }

    .login-modal {
        height: 300px;
    }

    .title {
        margin-top: 20px;
    }

    .title h1{
        font-size: 4.2rem;
    }
    .title h3 {
        font-family: 'Roboto', sans-serif;
        color: rgb(224, 224, 224);
        font-size: 1rem;
        margin-top: 10px;
        letter-spacing: 6px;

    }

}

@media screen and (min-width: 1440px){
    
    .login-modal input{
        background: white;
        border: none;
        width: 35%;
        padding: 12px 0px;
        border-radius: 5px;
    }

  }
