.container{
	display: flex;
	color: white;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	font-family: GROBOLD, sans-serif;
	align-items: center;
	justify-content: space-between;
	background-color: cornflowerblue;
	padding: 15px 30px;
	width: 100vw;
	box-shadow: 0px 3px 5px rgb(177, 177, 177);
}

.player{
	font-size: 1.6rem;
	color: white;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
.player-stats{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
