.app{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-items: center;
 height: 100vh;
}

.end-game{
  display: none;
  /* filter: blur(3px); */
}

.card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}